<!-- 
Team Name: Enginerds

Memebers:
	Mohammad Al-Rammah
	Damien Rittmann
	Lingyin Lu
	Allison Roney
	Xinyu Jiang
	Jiacheng Shao

Purpose of page:
- To clarify the intent of our service 
- if user already has account, then they just enter email and password
- else, page redirects user to a different page (in the form of a forum)
 -->



<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta lang="english">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FastCast Home</title>
</head>
<body>

	<div class="container">
		<!-- Name of service and logo will go in header -->
		<header class="main_head">
			<h1 id="fastcast">FastCast</h1>
			<img src="">
		</header>

		</div>

		<h3 class="head3">Mission Statement</h3>
			<p class="par"> FastCast is a search engine that aims to provide people around the world whom have busy, dynamic, and perhaps non-lenient schedules with podcasts that are time and content relevent.</p>

		<h3 class="head3">Motivation</h3>
			<p class="par">Have you ever had a ten-minute break and wished you could enjoy listening to a podcast on the fly--without having to endlessly search through your countless libraries only to find out that you have already wasted five minutes? Sure, you can listen to a fifty-minute podcast and pause ten minutes in, but we believe there is instrinsic value in listening to a podcast without interruption. 
			Would you enjoy watching an hour-long movie in increments of ten minutes? Probably not. Would you have a richer understanding of that movie if you had watched it that way? Again, probably not.</p>

		<h3 class="head3">Just Cut to the Chase</h3>
			<p class="par">FastCast is here to provide you with high-end podcasts that you can enjoy from begining-to-end no matter how short, or long, your break permits you.</p>

		<h3 class="head3">The creators of FastCast</h3>
			<p class="par">Because we respect your time, we have dedicated countless hours perfecting a service we know you will not only enjoy but one that you will appreciate beyond any quantifiable measure. Although our brand might be strictly, and mistakenly, categorized as entertainment, we encourage our users to think of FastCast as a lifestyle app; one that will augment your day-to-day life with convenience.</p>

			<!-- With css, we will make an inline list, rather than a vertical one -->
			<ul id="creators">
				<li> Mohammad Rammah</li>
				<li> Damean Rittmann</li>
				<li> Lingyin Lu </li>
				<li> Allison Roney</li>
				<li> Xinyu Jiang</li>
				<li> Jiacheng Shao</li>
			</ul>

		<footer class="foot">
			<!-- opens users' email app -->
			<address><a href="mailto: fastcast@gmail.com">Email</a> our team at FastCast for any inquiries</address>
			<!-- refers user to FAQs page -->
			<span><a href="">FAQs</a></span>
			<br>
			<!-- Share buttons -->
			<button>Twitter</button>
			<button>Facebook</button>
			<button>email</button>
			<button>LinkedIn</button>

		</footer>

	</div> <!-- end of container -->

</body>
</html>